vllm==0.6.3
diffusers
accelerate
transformers
fastapi
pydantic
Pillow
python-multipart
uvicorn
huggingface_hub
xformers
triton
peft
deepcache
safetensors
scipy
numpy
av
sentencepiece
protobuf
bitsandbytes
psutil
